# API Configuration
# Base URL của API backend
NEXT_PUBLIC_API_URL=https://api-freso.gm-group.vn

# API Version
NEXT_PUBLIC_API_VERSION=/api/v1

# Service Endpoints
NEXT_PUBLIC_USER_SERVICE=/users
NEXT_PUBLIC_PROFILE_SERVICE=/profiles
NEXT_PUBLIC_ORDER_SERVICE=/orders
NEXT_PUBLIC_PRODUCT_CATALOG_SERVICE=/product-catalogs
NEXT_PUBLIC_LOGISTICS_SERVICE=/logistics
NEXT_PUBLIC_CART_SERVICE=/carts
NEXT_PUBLIC_PAYMENT_SERVICE=/payments
NEXT_PUBLIC_SEARCH_SERVICE=/searchs
NEXT_PUBLIC_REVIEW_SERVICE=/reviews
